@(is_menu: Boolean = true, user: Option[models.User] = None)



@if(is_menu){
<!-- Menu -->

<div class="menu">
  <div class="menu_container text-right">
    <div class="menu_close">close</div>
    <nav class="menu_nav">
      <ul class="d-flex flex-row align-items-center justify-content-start">
        <li><a href="communities">Trouver sa communauté</a></li>
        <li><a href="/events">Liste des événements</a></li>
        <li><a href="/about">A propos</a></li>
      </ul>
    </nav>
    <div class="menu_link">
      <a href="/form">+Créer un événement</a>
    </div>
  </div>
</div>
} else{
<!-- Header -->

<header class="header">
  <div class="header_overlay"></div>
  <div class="header_content d-flex flex-row align-items-center justify-content-start">

    <!-- Logo -->
    <div class="logo"><a href="/">Social<span>Partner</span></a></div>

    <!-- Header Nav -->
    <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
      <nav class="main_nav">
        <ul class="d-flex flex-row align-items-center justify-content-start">
          <li><a href="communities">Trouver sa communauté</a></li>
          <li><a href="/events">Liste des événements</a></li>
          <li><a href="/about">A propos</a></li>
        </ul>
      </nav>
      <div class="add_listing text-center trans_200"><a href="/form">+ Evénement</a></div>
      <div class="log_reg">
        <ul class="d-flex flex-row align-items-center justify-content-start">
          @user match {
            case Some(user) => {
              <li><a href="/signOut">Se déconnecter</a></li>
            }
            case None => {
              <li><a href="/signIn">S'identifier</a></li>
              <li><a href="/signUp">S'enregistrer</a></li>
            }

          }
        </ul>
      </div>
      <div class="hamburger">
        <i class="fa fa-bars trans_200"></i>
      </div>
    </div>

  </div>
</header>
}