@()

@main("A propos"){

<div class="col-md-12 col-centered text-center">
    <div>
        <p><h4>Notre mission</h4></p>
        <p>Laurem ipsom</p>
    </div>

    <p><h4>L'équipe</h4></p>
    <div class="row col-centered">
        <div class="col-md-3 text-center">
            <img class="img-portfolio img-responsive" src="assets/images/team/someone.jpeg" width="300px">
            <br>Melissa Perez<br>CEO
        </div>
        <div class="col-md-3">
            <img class="img-portfolio img-responsive" src="assets/images/team/someone.jpeg" width="300px">
            <br>Audrey <br>COO
        </div>
        <div class="col-md-3">
            <img class="img-portfolio img-responsive" src="assets/images/team/someone.jpeg" width="300px">
            <br>Adrien Morvan<br>CTO
        </div>
    </div>

    <br>
</div>

}