@()

<!-- Menu -->

<div class="menu">
  <div class="menu_container text-right">
    <div class="menu_close">close</div>
    <nav class="menu_nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="listings.html">Listings</a></li>
        <li><a href="blog.html">News</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <div class="menu_link">
      <a href="#">+Add Listing</a>
    </div>
  </div>
</div>